* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/*                  home screen                */

#home-view .container{
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  min-width: 500px;
  min-height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* Centers the buttons inside the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs {
  /* Centers the buttons inside the tab */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs button {
  width: 85%;
  height: 35%;
  padding: 12px;
  margin: 10px 0;
  font-size: 18px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3700b3;
}

.hidden {
  display: none;
}

/*                    temporary screen                  */

#back-btn{
  width: 50px;
  height: 20px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
#back-btn:hover {
  background-color: #3700b3;
}

#temporary-view .container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  min-width: 500px;
  min-height: 150px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

#add-task-btn {
  width: 25%;
  padding: 10px;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-task-btn:hover {
  background-color: #3700b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span{
  flex: 2;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

li button {
  background-color: #d32f2f;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #b71c1c;
}
